<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Clustering</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="css/bootstrap-responsive.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="color/default.css" rel="stylesheet">
	<link rel="shortcut icon" href="img/favicon.ico">
</head>

<body>
	<!-- navbar -->
	<div class="navbar-wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<!-- Responsive navbar -->
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
					<h1 class="brand"><a href="/">PROJECT</a></h1>
					<!-- navigation -->
					<nav class="pull-right nav-collapse collapse">
						<ul id="menu-main" class="nav">
							<li><a title="home" href="#home">HOME</a></li>
							<li><a title="clustering" href="#clustering">CLUSTERING</a></li>
							<li><a title="comparision" href="/Comparison">COMPARISION</a></li>
							<li><a title="team" href="#about">TEAM 13</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- Header area -->
	<section id="home">
		<div id="header-wrapper" class="header-slider">
			<header class="clearfix">
				<div class="logo">
					<img src="img/" alt="" />
				</div>
				<div class="container">
					<div class="row">
						<div class="span12">
							<div id="main-flexslider" class="flexslider">
								<ul class="slides">
									<li>
										<p class="home-slide-content">
											<strong>clustering</strong>
										</p>
									</li>
									<li>
										<p class="home-slide-content">
											Fast data <strong>retrieval</strong>
										</p>
									</li>
									<li>
										<p class="home-slide-content">
											Store relevant data <strong>together</strong>
										</p>
									</li>
								</ul>
							</div>
							<!-- end slider -->
						</div>
					</div>
				</div>
			</header>
		</div>
	</section>
	<!-- spacer section -->
	<section class="spacer green">
		<div class="container">
			<div class="row">
				<div class="span6 alignright flyLeft">
					<blockquote class="large">
						Information is the oil of the 21st century, and analytics is the combustion engine. 
						<cite>Peter Sondergaard, SVP, Gartner Research</cite>
					</blockquote>
				</div>
				<div class="span6 aligncenter flyRight">
					<i class="icon-coffee icon-10x"></i>
				</div>
			</div>
		</div>
	</section>
	<!-- end spacer section -->

	<!-- section: clustering -->
	<section id="clustering" class="section">
		<div class="container">
			<h4>Clustering</h4>
			<div class="row">
				<div class="span5 offset1">
					<div>
						<h2><strong>Cluster</strong> analysis</h2>
						<p>
							Cluster analysis or clustering is the task of grouping a set of objects in such a way that objects in the same group (called a cluster) are more similar (in some sense or another) to each other than to those in other groups (clusters). It is a main task of exploratory data mining, and a common technique for statistical data analysis, used in many fields, including machine learning, pattern recognition, image analysis, information retrieval, bioinformatics, data compression, and computer graphics.
						</p>
					</div>
				</div>
				<div class="span6">
					<div class="aligncenter">
						<img src="img/icons/data_science.png" alt="" />
					</div>
				</div>
			</div>
			
		</div>

		<div class="container">
			<div class="row">
				<div class="span6">
					<div class="aligncenter">
						<img src="img/icons/clustering_1.png" alt="" />
					</div>
				</div>
				<div class="span5 offset1" style="margin-top: 50px">
					<div>
						
						<p>
							Cluster analysis itself is not one specific algorithm, but the general task to be solved. It can be achieved by various algorithms that differ significantly in their notion of what constitutes a cluster and how to efficiently find them. Popular notions of clusters include groups with small distances among the cluster members, dense areas of the data space, intervals or particular statistical distributions. Clustering can therefore be formulated as a multi-objective optimization problem. Cluster analysis as such is not an automatic task, but an iterative process of knowledge discovery or interactive multi-objective optimization that involves trial and failure. It is often necessary to modify data preprocessing and model parameters until the result achieves the desired properties.
						</p>
					</div>
				</div>
				
			</div>
			
		</div>
		<!-- /.container -->
	</section>
	<!-- end section: clustering -->

	<!-- section: team -->
	<section id="about" class="section">
		<div class="container">
			<h4>Project Team 13</h4>
			<div class="row">
				
				<div class="span6 offset3">
					<div class="aligncenter">
						<img src="img/icons/creativity.png" alt="" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span2 offset2 flyIn">
					<div class="people">
						<img class="team-thumb img-circle" src="img/team/img-1.jpg" alt="" />
						<h3>Arijit Mandal</h3>
						
					</div>
				</div>
				<div class="span2 flyIn">
					<div class="people">
						<img class="team-thumb img-circle" src="img/team/img-2.jpg" alt="" />
						<h3>Aman Ojha</h3>
						
					</div>
				</div>
				<div class="span2 flyIn">
					<div class="people">
						<img class="team-thumb img-circle" src="img/team/img-3.jpg" alt="" />
						<h3>Rutvik Pensionwar</h3>
						
					</div>
				</div>
				<div class="span2 flyIn">
					<div class="people">
						<img class="team-thumb img-circle" src="img/team/img-4.jpg" alt="" />
						<h3>Vishwesh Patel</h3>
						
					</div>
				</div>
				
			</div>
		</div>
		<!-- /.container -->
	</section>
	<!-- end section: team -->

	<footer>
		<div class="container">
			<div class="row">
				<div class="span6 offset3">
					<ul class="social-networks">
						<li><a href="https://github.com/SJSU272LabF17/Project-Team-13">
								<i class="icon-circled icon-bgdark icon-github icon-2x">
								</i>
							</a>
						</li>
						</ul>
					<p class="copyright">
						&copy; CMPE 272. Project Group 13
						<div class="credits">
				
							
						</div>
					</p>
				</div>
			</div>
		</div>
		<!-- ./container -->
	</footer>
	<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>
	<script src="js/jquery.js"></script>
	<script src="js/jquery.scrollTo.js"></script>
	<script src="js/jquery.nav.js"></script>
	<script src="js/jquery.localScroll.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery.prettyPhoto.js"></script>
	<script src="js/isotope.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/inview.js"></script>
	<script src="js/animate.js"></script>
	<script src="js/custom.js"></script>
	<script src="contactform/contactform.js"></script>

</body>

</html>
